 .card{
   padding: 2vw;
  }

  .card:hover {
    box-shadow: 12px 12px 12px 12px rgba(0, 0, 0, 0.1),
    -10px -10px 10px white
  }

  .card-container{
    margin:2.5vw;
    background-color: #f9f9f9;
  }

  .container {
    padding: 2px 16px;
  }

  img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  h4 {
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
  }

  h1{
     font-size: 2rem;
     font-weight: 550;
     text-align: center;
  }